body {
  background-color: black;
  color: pink;
  margin-bottom: 150px;
}
h1 {
  font-family: Schoolbell;
  text-align: center;
  font-size: 65px;
}


}
.instructions {
  display: none;
}

#names {
  display: none;
}
#instructions {
  background-color: : pink;
  border-radius: 50%;
  color: black;
  font-weight: bold;
}

.space {
  margin-bottom: 100px;
}

#game {
  display: none;

}
h1 {
  font-family: fantasy;
}
#play {
  text-align: center;

  background-color: : pink;
  border-radius: 50%;
  color: black;
  font-weight: bold;


}
