body {
  background-color: black;
  color: pink;
  margin-bottom: 150px;
}
h1 {
  font-family:  #Walter+Turncoat;
  text-align: center;
  font-size: 65px;
}


}
#instructions {
  display: none;
}

#names {
  display: none;
}
#inst {
  background-color: : pink;
  border-radius: 50%;
  color: black;
  font-weight: bold;
}



#game {
  display: none;
}
h1 {
  font-family: fantasy;
}
#play {
  text-align: center;

  background-color: : pink;
  border-radius: 50%;
  color: black;
  font-weight: bold;


}
